.box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  .container-for-boxes{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }
}
